@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
}

.text-shadow {
  text-shadow:
      0 0 black,
      1px 0 black,
      1px 1px black,
      0 1px black,
      -1px 0 black,
      -1px -1px black,
      0 -1px black;
}

.font-knewave {
  font-family: 'KnewaveRegular';
}
