@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'KnewaveRegular', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

.text-glow {
  text-shadow: 0 0 rgba(255,255,255,0.5), 1px 0 rgba(255,255,255,0.5), 1px 1px rgba(255,255,255,0.5), 0 1px rgba(255,255,255,0.5), -1px 0 rgba(255,255,255,0.5), -1px -1px rgba(255,255,255,0.5), 0 -1px rgba(255,255,255,0.5);
  color: white;
}

.font-league-script {
  font-family: 'LeagueScript';
}

.thank-you {
  font-size: 10vh;
  line-height: 1;
}

@media (orientation: landscape) {
  .thank-you {
    font-size: 20vh;
  }
}

@media (orientation: portrait) {
  .thank-you {
    font-size: 10vh;
  }
}