@font-face {
    font-family: 'KnewaveRegular';
    src: url('assets/fonts/knewave-webfont.eot');
    src: url('assets/fonts/knewave-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/knewave-webfont.woff') format('woff'),
         url('assets/fonts/knewave-webfont.ttf') format('truetype'),
         url('assets/fonts/knewave-webfont.svg#KnewaveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
